.container--form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    background: #e4dac2;    
    justify-items: center;
}
.contact--info {
    grid-column-start: 1;
    grid-row-start: 1;
    padding-top:1.5rem;
    min-width: 60%;
    margin:1.25rem;
    line-height: 2.75rem;
    padding:0;
}
.contact--image {   
    aspect-ratio: 1 / 1;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.contact--content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background:#c4bdac;
    max-width: 100%;
    height: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 1.5rem;
}
.contact--content a {
    text-decoration: none;
    color: #A84E55;
}
.contact--content a:hover {    
    color: ivory;
}
.contact--link {
    /* font-size: 1.5rem; */
    font-size: clamp(.5rem, 5vw, 1.5rem);
}
#questions {
    color:ivory;   
    font-size: 30px;
    text-shadow: 1px 1px 2px #A84E55;
    text-align: left;
    font-size: calc(25px + 1vw);
}
#idai {
    font-size: calc(15px + 1vw);
    padding:2rem 0 1rem 0;
}
.title--contact {
    font-size: 30px;
    padding: 20px 0 25px 0;
}
form {
    grid-column-start: 2;
    grid-row-start: 1;
    display: grid;
    background: #D8C1B0;
    margin: 20px;
    padding:20px 30px;    
    border-radius: 20px;
    font-size: 16px;
    max-width:900px;    
}
.grid-container-name {
    display: grid;
    column-gap: 15px;
    grid-template-columns: 1fr 1fr;
    width:100%;
}
.firstName {
    grid-column-start: 1;
    grid-row-start: 2;
}
.lastName {
    grid-column-start: 2;
    grid-row-start: 2;
} 
.firstName input,
.lastName input {
    width: 100%;
    box-sizing: border-box;
}
.grid-container-address {
    display: grid;
    column-gap: 15px ;
    grid-template-columns: 2fr 60px 1fr;
    width:100%;  
}
.city{
    grid-column-start: 1;
    grid-row-start: 2;
}
.state {
    grid-column-start: 2;
    grid-row-start: 2;    
}
.zip {
    grid-column-start:3;
    grid-row-start: 2;    
}
hr {
    margin: 10px 0;
    text-align: center;
    width: 100%;
    border: 1px solid gray;
}
input {    
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: none;
    background: #f4eee1;    
    font-size:20px;
    width: 100%;
    box-sizing: border-box;
}
.comments {
    padding: 12px;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
    background: #f4eee1;    
    font-size:16px;
}
input:valid, .comments:valid {
    background: #f4eee1;  
}
input:focus, .comments:focus {
    outline: 1px dotted gray;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  background-color: #f4eee1 !important;
  -webkit-box-shadow: 0 0 0px 1000px #f4eee1 inset !important;
  box-shadow: 0 0 0px 1000px #f4eee1 inset !important;
}
span {
    padding-bottom: 15px ;    
}
p {
    font-size: 16px;
    line-height: 30px;
}
.edd, .csec {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.service, .condition {
    border: none;
    padding-bottom: 20px;
}
select {
    background: #f4eee1;
    border-radius: 10px;
    border: none;
    height: 40px;
    font-size: 18px;
    padding-left: 10px;
    margin-bottom: 15px;
    color: black;
}
select:focus{
    outline: 1px dotted gray;
}
.comments, select{
    width:100%;
    box-sizing: border-box;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 20px 0;
}
button {
    padding: 15px 0px;
    font-size: 20px;
    border: 1px solid #4A3347;
    border-radius: 10px;
    background: #c4bdac;
    width: 30%;
}
button:hover {
    background: #4A3347;
    color: ivory;
}

/* <--screens under 1020px --> */
@media only screen and (max-width: 1020px) {
    .grid-container-name {
        grid-template-columns: 1fr;
    }
    .grid-container-address {
        grid-template-columns: 1fr; 
    }
    .firstName,
    .lastName {
        width: 100%; 
    }
    .firstName input,
    .lastName input {
        width: 100%;
    }
    .contact--info{   
        margin:1.25rem;
        max-width:95%;
        /* line-height: 2.75rem;
        padding:0; */
    }
    .contact--image {   
        aspect-ratio: 1 / 1;
    }
    /* .contact--link {
        font-size: 1.125rem;        
    } */
    .firstName{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    #firstName{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .lastName{
        grid-column-start: 1;
        grid-row-start: 4;
    }
    #lastName{
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .grid-container-address {
        display: grid;
        column-gap: 15px ;        
        grid-template-columns: 100% 100% 100%;        
    }
    .city{
        grid-column-start: 1;
        grid-row-start: 2;
    }
    #city{
        grid-column-start: 1;
        grid-row-start: 1;
    }
    .state{
        grid-column-start: 1;
        grid-row-start: 4;
    }
    #state{
        grid-column-start: 1;
        grid-row-start: 3;
    }
    .zip{
        grid-column-start: 1;
        grid-row-start: 6;
    }
    #zip{
        grid-column-start: 1;
        grid-row-start: 5;
    }
    .container--form{
        grid-template-columns: 100%;
        
    }
    .contact--info {
        grid-column-start: 1;
        grid-row-start: 1;
    }
    form {
        grid-column-start: 1;
        grid-row-start: 2;
        width: 100%;
        border-radius: 0;
        padding: 10px;
    }
    button {
        width: 100%;
    }
} 
