.container--form {
    display:flex;
    flex-direction: column;
    background: #e4dac2;    
    justify-items: center;
}
.contact--info {
    padding: 1.75rem;
    display: flex;
    flex-direction: column;
}
.contact--image {   
    aspect-ratio: 1 / 1;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.contact--content {
    display: flex;
    flex-direction: column;
    background:#c4bdac;
    max-width: 100%;
    height: fit-content;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 2rem;
    font-size: 1.25rem;
}
#questions {
    color:ivory;   
    font-size: 2rem;
    text-shadow: 1px 1px 2px #A84E55;
    text-align: left;
}
#idai {
    padding:1rem 0 .05rem 0;
}
.contact--content a {
    text-decoration: none;
    color: #A84E55;
    font-size: 1rem;
    padding-top:1rem;
}
.contact--content a:hover {    
    color: ivory;
}
.title--contact {
    font-size: 30px;
    padding: 20px 0 25px 0;
}

/* ---FORM--- */
form {
    display: flex;
    flex-direction: column;
    background: #D8C1B0;
    margin: 20px;
    padding:20px 30px;    
    border-radius: 20px;
    font-size: 16px;
    max-width:900px;    
}
form label{
    display: flex;
    flex-direction: column;
}
input {    
    padding: .75rem;
    margin: 0.75rem 0 .75rem 0;
    border-radius: 10px;
    border: none;
    background: #f4eee1;    
    font-size:1rem;
    width: 100%;
    box-sizing: border-box;
}
hr {
    margin: 10px 0;
    text-align: center;
    width: 100%;
    border: 1px solid gray;
}
.comments {
    padding: 12px;
    margin: 20px 0;
    border-radius: 10px;
    border: none;
    background: #f4eee1;    
    font-size:16px;
    max-width:100%;
    min-width: 100%;
}
input:valid, .comments:valid {
    background: #f4eee1;  
}
input:focus, .comments:focus {
    outline: 1px dotted gray;
}
input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: #f4eee1 !important;
    -webkit-box-shadow: 0 0 0px 1000px #f4eee1 inset !important;
    box-shadow: 0 0 0px 1000px #f4eee1 inset !important;
}
select {
    background: #f4eee1;
    border-radius: 10px;
    border: none;
    height: 40px;
    font-size: 1rem;
    padding-left: 10px;
    margin-bottom: 15px;
    color:rgb(76, 75, 75);
}
select option{
    padding: 1rem;
}
select:focus{
    outline: 1px dotted gray;
}
.comments, select{
    width:100%;
    box-sizing: border-box;
}
.service, .condition {
    border: none;
    padding-bottom: 1.25rem;
    margin-top:1rem;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;   
    padding: 1.5rem 0;
}
button {
    padding: 1rem 0;
    font-size: 1.25rem;
    border: 1px solid #4A3347;
    border-radius: 10px;
    background: #c4bdac;
    width: 100%;
}
button:hover {
    color: ivory;
}
.error {
    color: red;
    font-size: 0.875rem;
    margin: 0 0 0.5rem 0.5rem;
  }

@media (min-width:700px) {  
    .container--form {
        padding: 2rem;
    }
    .contact--info {        
        flex-direction: row;
    }
    .contact--image {   
        aspect-ratio: 1 / 1;
        width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 0px;
    }
    .contact--content {
        aspect-ratio: 1 / 1;
        width: 100%;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 0px;
        padding: 2rem;
        font-size: 1.25rem;
    }
    #questions {
        text-shadow: 1px 1px 2px #A84E55;
        text-align: left;
        font-size: 3rem;
    }
    #idai {
        font-size: 2rem;
    }
    .contact--content a {        
        font-size: 1.255rem;
    }
}

@media (min-width:1200px) {  
    .container--form {
        flex-direction: row;
        margin:auto;
        justify-content: center;
    }
    
    .contact--info {        
        flex-direction: column;
    }
    .contact--image {   
        aspect-ratio: 1 / 1;
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius:0px;
    }
    .contact--info {
        padding: 1.75rem;
        display: flex;
        flex-direction: column;
    }
    .contact--image {  
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .contact--content {
        aspect-ratio: 0;
        max-width: 100%;
        height: fit-content;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        border-top-right-radius: 0px;
        padding: 2rem;
        font-size: 1.25rem;
    }
    .container--name{
        display: flex;
        gap:1rem;
    }
    .container--name label{
        width: 50%;
    }
    .container--address{
        display: grid;
        grid-template-columns: 2fr 1fr 1fr;
        gap:1rem;
    }   
}