.footer {
    background:#26151F;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    color: ivory;
}

.footer--links {
    display: flex;
    align-items: center;
    padding: 10px
}
#footer--bar {
    padding: 0 15px;
}
.footer--link {
    color: ivory;
}

.footer--link:hover {
    color: #A84E55;
}
/* <--screens under 1020px --> */
@media only screen and (max-width: 1020px) {
    .footer p{
        font-size:0.75rem;
    }
}