.gallery--container {
    padding: 10px;
    display: grid;
    grid-template-columns: 
        repeat(auto-fit, minmax(25rem, 1fr) );
    gap: 1rem;
    min-height:90vh;
}
.gallery--card {
    aspect-ratio: 1 / 1;
    width:100%;
}
.stacked {
    display: grid;
}
/* all direct children on stacked */
.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
img {
    max-width: 100%;
    display:block;
}
.gallery--image {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
    transition: transform .5s ease;
    border-radius: 15px;
    border: 0.5px solid #b4a092;
}

.gallery--number {
    color:ivory;
    font-size: 2rem;
    width: 2.25rem;
    height: 2.25rem;
    opacity:0.6; 
    background: rgba(38, 21, 31,.5);
    border-radius:10px; 

    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center;
    margin: .5rem;
    /* padding: .55rem;     */
   
}
.gallery--image:hover {
    transform:scale(1.01);
    border: 1px solid #98877b;
    border-radius: 15px;
}
@media (max-width: 48em) {
    .gallery--container{
        grid-template-columns: 1fr;
    }
    .gallery--card {
        width:100%;
        padding:0;
        margin:0;
    }
}